Repository modern-agile-team/9term-main-front, pull requests merged in 2025-06, with the labels that each got.

#40 bug/#36/워크플로우-실패-개선
  .pnp.cjs
  package.json
  src/app/_apis/client.ts
  yarn.lock
Labels: bug, size/Horrible 🔥

#41 게시물 목록 조회
  .pnp.cjs
  .pnp.loader.mjs
  .yarnrc.yml
  public/mockServiceWorker.js
  src/app/_apis/client.ts
  src/app/_types/post.types.ts
  src/app/groups/[id]/page.tsx
  yarn.lock
Labels: size/Death 🪦

#43 게시물작성api연결
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/_apis/client.ts
  src/app/_components/Navbar.tsx
  src/app/_types/postcreate.types.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/components/comments/CommentForm.tsx
  src/app/groups/components/comments/CommentList.tsx
  src/app/groups/components/posts/DeletePostModal.tsx
  src/app/groups/components/posts/PostDetailModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostList.tsx
  src/app/groups/components/posts/PostSettingsModal.tsx
  yarn.lock
Labels: api, feature, size/Hard 🦅

#56 Feat/#55/댓글조회
  src/app/_apis/client.ts
  src/app/_types/comment.types.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/comments/CommentList.tsx
  src/app/groups/components/posts/PostDetailModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostList.tsx
Labels: api, feature, size/Normal 🐔
