Repository modern-agile-team/9term-main-front, pull requests merged in 2025-08, with the labels that each got.

#80 79 그룹 카드 이미지
  src/app/_apis/client.ts
  src/app/_components/ClubCard.tsx
  src/app/_types/creategroup.types.ts
  src/app/_types/group.types.ts
  src/app/_types/post.types.ts
  src/app/_types/postcreate.types.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/Sidebar.tsx
  src/app/groups/components/posts/CreateClubModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostModal.tsx
  src/app/groups/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
Labels: size/Normal 🐔

#83 [Bug] 게시물 수정 에러 해결
  src/app/_apis/client.ts
  src/app/_types/likes.types.ts
  src/app/_types/post.types.ts
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/posts/CreateClubModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostModal.tsx
Labels: size/Cute 🐤

#90 동아리 가입 구현
  src/app/_apis/client.ts
  src/app/_types/group.types.ts
  src/app/_types/user.types.ts
  src/app/_utils/query-utils.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/_queries.ts
  src/app/groups/components/JoinGroupBanner.tsx
  src/app/groups/components/Sidebar.tsx
  src/app/groups/components/comments/CommentList.tsx
  src/app/groups/components/posts/EditClubModal.tsx
  src/app/layout.tsx
Labels: size/Hard 🦅

#93 [Feat]/ #92/ 프로필 이미지 설정
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/app/_apis/axios-client.ts
  src/app/_apis/client.ts
  src/app/_apis/comment-api.ts
  src/app/_apis/group-api.ts
  src/app/_apis/post-api.ts
  src/app/_apis/user-api.ts
  src/app/_components/Navbar.tsx
  src/app/_types/error.types.ts
  src/app/_types/image.types.ts
  src/app/_types/post.types.ts
  src/app/_types/user.types.ts
  src/app/_utils/query-utils.ts
  src/app/groups/components/posts/CreateClubModal.tsx
  src/app/groups/components/posts/EditClubModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostModal.tsx
  src/app/profile/_queries.ts
  src/app/profile/page.tsx
Labels: api, feature, size/Hard 🦅

#95 Feature/# 94/ 게시물 좋아요
  src/app/_apis/post-api.ts
  src/app/_types/likes.types.ts
  src/app/groups/components/posts/PostItem.tsx
Labels: size/Cute 🐤

#91 Feature/#89/대댓글
  src/app/_apis/client.ts
  src/app/_utils/query-utils.ts
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/comments/CommentList.tsx
Labels: size/Normal 🐔

#97 Feature/#96/ 그룹 탈퇴
  src/app/_apis/group-api.ts
  src/app/groups/components/Sidebar.tsx
Labels: size/Baby 🥚
