Repository modern-agile-team/9term-main-front, pull requests merged in 2025-05, with the labels that each got.

#23 Setting/#22/prettierrc
  .github/CODEOWNERS
  .github/auto-assign.yml
  .prettierrc
  commitlint.config.js
Labels: setting

#21 🔨 Refactor(#10): zustand-> tanstack-query
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/app/(auth)/login/page.tsx
  src/app/(auth)/register/page.tsx
  src/components/common/FailModal.tsx
  src/components/layout/Navbar/index.tsx
  src/lib/providers/index.tsx
  src/providers/auth-provider.tsx
  src/types/auth.d.ts
  src/types/auth.ts
  tsconfig.json
  yarn.lock
Labels: refactor

#28 Setting/#27/remove duplicate config files
  jest.setup.js
  next.config.js
  next.config.mjs
  postcss.config.mjs
Labels: setting

#30 setting/#26/migrate to Yarn Berry with PnP
  .gitignore
  .yarn/releases/yarn-4.9.1.cjs
  .yarn/sdks/eslint/bin/eslint.js
  .yarn/sdks/eslint/lib/api.js
  .yarn/sdks/eslint/lib/config-api.js
  .yarn/sdks/eslint/lib/types/config-api.d.ts
  .yarn/sdks/eslint/lib/types/index.d.ts
  .yarn/sdks/eslint/lib/types/rules.d.ts
  .yarn/sdks/eslint/lib/types/universal.d.ts
  .yarn/sdks/eslint/lib/types/use-at-your-own-risk.d.ts
  .yarn/sdks/eslint/lib/universal.js
  .yarn/sdks/eslint/lib/unsupported-api.js
  .yarn/sdks/eslint/package.json
  .yarn/sdks/integrations.yml
  .yarn/sdks/typescript/bin/tsc
  .yarn/sdks/typescript/bin/tsserver
  .yarn/sdks/typescript/lib/tsc.js
  .yarn/sdks/typescript/lib/tsserver.js
  .yarn/sdks/typescript/lib/tsserverlibrary.js
  .yarn/sdks/typescript/lib/typescript.js
  .yarn/sdks/typescript/package.json
  .yarnrc.yml
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/app/metadata.ts
  yarn.lock
Labels: setting

#33 chore: delete .pnp from git ignore
  .gitignore
  .pnp.cjs
  .pnp.loader.mjs
Labels: setting

#31 api/10-로그인/회원가입_api
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/mvp-task.yml
  .github/labeler.yml
  .github/pr-labeler.yml
  .github/workflows/_commit-convention.yml
  .github/workflows/code-quality.yml
  .pnp.cjs
  README.md
  commitlint.config.js
  eslint.config.mjs
  jest.config.ts
  jest.setup.ts
  package.json
  postcss.config.js
  public/mockServiceWorker.js
  server.js
  src/app/(auth)/login/page.tsx
  src/app/(auth)/login/types/auth.ts
  src/app/(auth)/register/page.tsx
  src/app/_apis/client.ts
  src/app/_components/CreatePostButton.tsx
  src/app/_components/FailModal.tsx
  src/app/_components/Navbar.tsx
  src/app/_services/auth-provider.tsx
  src/app/_types/notification.types.ts
  src/app/_types/post.types.ts
  src/app/_types/user.types.ts
  src/app/_utils/utils.ts
  src/app/groups/[id]/mocks/posts.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/BoardHeader.tsx
  src/app/groups/components/Calendar.tsx
  src/app/groups/components/Chart.tsx
  src/app/groups/components/PostItem.tsx
  src/app/groups/components/PostList.tsx
  src/app/groups/components/Sidebar.tsx
  src/app/groups/components/posts/DeletePostModal.tsx
  src/app/groups/components/posts/PostCreateModal.tsx
  src/app/groups/components/posts/PostEditModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostList.tsx
  src/app/profile/page.tsx
  tailwind.config.js
  yarn.lock
Labels: api, feature

#35 Setting/#34/feature size label
  .github/workflows/code-quality.yml
  .github/workflows/pr-size-label.yml
  src/app/_types/user.types.ts
  src/app/groups/[id]/mocks/data.ts
  src/app/groups/[id]/page.tsx
Labels: setting, size/Baby 🥚

#38 API 요청에 인증 토큰 누락 문제 해결
  src/app/_apis/client.ts
Labels: bug, size/Baby 🥚
