Repository modern-agile-team/9term-main-front, pull requests merged in 2025-07, with the labels that each got.

#61 홈화면 디자인 개선
  package.json
  public/main_img/Orientation.webp
  public/main_img/cartoon.webp
  public/main_img/coding.webp
  public/main_img/hangang.webp
  public/main_img/modernagile-logo.png
  public/main_img/ttabong.webp
  src/app/(auth)/login/page.tsx
  src/app/_components/Navbar.tsx
  src/app/_types/user.types.ts
  src/app/groups/[id]/mocks/data.ts
  src/app/groups/[id]/page.tsx
  src/app/layout.tsx
  src/app/page.tsx
  src/app/privacy/page.tsx
  src/app/profile/page.tsx
  src/app/settings/page.tsx
  yarn.lock
Labels: publishing, size/Hard 🦅

#62 Mvp/#46/create comments
  src/app/_apis/client.ts
  src/app/_components/ClubCard.tsx
  src/app/_components/FailModal.tsx
  src/app/_components/SuccessModal.tsx
  src/app/_types/comment.types.ts
  src/app/_types/post.types.ts
  src/app/_types/user.types.ts
  src/app/_utils/error-utils.ts
  src/app/_utils/query-utils.ts
  src/app/groups/[id]/mocks/data.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/_queries.ts
  src/app/groups/components/Sidebar.tsx
  src/app/groups/components/comments/CommentForm.tsx
  src/app/groups/components/comments/CommentList.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostSettingsModal.tsx
  yarn.lock
Labels: size/Death 🪦

#69 Mvp/feature/#68/create group
  src/app/_apis/client.ts
  src/app/_components/ClubCard.tsx
  src/app/_components/CreateClub.tsx
  src/app/_types/creategroup.types.ts
  src/app/_types/group.types.ts
  src/app/_types/user.types.ts
  src/app/groups/_queries.ts
  src/app/groups/components/posts/CreateClubModal.tsx
  src/app/page.tsx
Labels: size/Normal 🐔

#71 feat: 검색 기능 구현
  src/app/_apis/client.ts
  src/app/_types/post.types.ts
  src/app/groups/[id]/mocks/data.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/_queries.ts
  src/app/groups/components/comments/CommentForm.tsx
  src/app/groups/components/posts/PostCreateModal.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/page.tsx
  src/app/page.tsx
Labels: size/Hard 🦅

#76 Feat/#48/delete comment
  src/app/_apis/client.ts
  src/app/_utils/query-utils.ts
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/comments/CommentList.tsx
  src/app/groups/components/posts/PostItem.tsx
Labels: api, feature, size/Normal 🐔

#77 refactor: 게시물 생성,수정 모달 통합 /게시글 이미지 업로드 기능추가
  src/app/_apis/client.ts
  src/app/_types/post.types.ts
  src/app/groups/[id]/page.tsx
  src/app/groups/[id]/posts/[postId]/page.tsx
  src/app/groups/components/posts/PostItem.tsx
  src/app/groups/components/posts/PostModal.tsx
Labels: size/Normal 🐔
